{% extends '::base.html.twig' %}

{% block body %}
    <table>
        {% for row in data %}
            <tr>
                <td>{{ row.pid }}</td>
                <td>{{ row.changes_done }}</td>
                <td>{{ row.database }}</td>
                <td>{{ row.progress }}</td>
                <td>{{ row.started_on }}</td>
                <td>{{ row.total_changes }}</td>
                <td>{{ row.type }}</td>
                <td>{{ row.updated_on }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
